<launch>

  <arg name="drone_name" default="target" />
  <arg name="use_panel" default="true" />

  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 world base_link 100" />

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find brl_drones)/urdf/single_drone.urdf.xacro'" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <param name="drone_name" value="$(arg drone_name)"/>

  <node name="virtual_drone" pkg="brl_drones" type="virtual_drone.py" />

  <node if="$(arg use_panel)" name="controlpanel" pkg="brl_drones" type="drone_panel.py" />

  <param name="default_trajectory_folder"  value="$(find brl_drones)/launch" />
  <node name="traj_gui" pkg="brl_drones" type="csv_trajectory_gui.py" />

</launch>
